<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afiliaciones Aprobadas</title>
</head>
<body>
    <h1>Afiliaciones Aprobadas</h1>
    <a href="/admin/pendientes">Listar Afiliaciones Pendientes</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Dorsal</th>
                <th>Posición de Juego</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>Tipo de Sangre</th>
                <th>Categoría</th>
                <th>Estado</th> <!-- Nueva columna para el estado de la afiliación -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="jugador : ${afiliaciones}">
                <td th:text="${jugador.nombre}">Nombre</td>
                <td th:text="${jugador.apellido}">Apellido</td>
                <td th:text="${jugador.fechaNacimiento}">Fecha de Nacimiento</td>
                <td th:text="${jugador.edad}">Edad</td>
                <td th:text="${jugador.dorsal}">Dorsal</td>
                <td th:text="${jugador.posicionJuego}">Posición de Juego</td>
                <td th:text="${jugador.peso}">Peso</td>
                <td th:text="${jugador.estatura}">Estatura</td>
                <td th:text="${jugador.tipoSangre}">Tipo de Sangre</td>
                <td th:text="${jugador.categoria}">Categoría</td>
                <td th:text="${jugador.estadoAfiliacion}">Estado</td> <!-- Mostrar el estado de la afiliación -->
            </tr>
   
