<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afiliaciones Pendientes</title>
</head>
<body>
    <h1>Afiliaciones Pendientes</h1>
    <a href="/admin/afiliaciones">Listar Todas las Afiliaciones</a> <!-- Enlace para listar todas las afiliaciones -->
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Dorsal</th>
                <th>Posición de Juego</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>Tipo de Sangre</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="jugador : ${jugadores}">
                <td th:text="${jugador.nombre}">Nombre</td>
                <td th:text="${jugador.apellido}">Apellido</td>
                <td th:text="${jugador.fechaNacimiento}">Fecha de Nacimiento</td>
                <td th:text="${jugador.edad}">Edad</td>
                <td th:text="${jugador.dorsal}">Dorsal</td>
                <td th:text="${jugador.posicionJuego}">Posición de Juego</td>
                <td th:text="${jugador.peso}">Peso</td>
                <td th:text="${jugador.estatura}">Estatura</td>
                <td th:text="${jugador.tipoSangre}">Tipo de Sangre</td>
                <td th:text="${jugador.categoria}">Categoría</td>
                <td>
                    <form th:action="@{/admin/afiliacion/{id}/aprobar(id=${jugador.id})}" method="post">
                        <button type="submit">Aprobar</button>
                    </form>
                    <form th:action="@{/admin/afiliacion/{id}/rechazar(id=${jugador.id})}" method="post">
                        <button type="submit">Rechazar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
